$width-high-bound: 1280px;
$width-low-bound: 720px;

html, body, #root, .app {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: $width-low-bound) {
  html, body, #root, .app {
    font-size: 0.05*$width-low-bound;
  }
}

@media screen and (min-width: $width-high-bound) {
  html, body, #root, .app {
    font-size: 0.05*$width-high-bound;
  }
}

@media screen and (max-width: $width-high-bound) and (min-width: $width-low-bound) {
  html, body, #root, .app {
    font-size: 5vw;
  }
}

button {
  cursor: pointer;
}

.image-link {
  display: inline-flex;

  a, a:link, a:visited {
    text-decoration: none;
    display: flex;
  }
}

.my-logo-header {
  justify-content: center;
  display: flex;

  img {
    margin: 0.25rem 0;
    height: 1rem;
  }

  img:hover {
    animation-play-state: paused;
  }
}

.login-button {
  justify-content: center;
  display: flex;
  margin-top: 1rem;

  button {
    height: 1rem;
    width: 3rem;
    color: #2940a8;
    background-color: #1ED760;
    border-radius: 1rem;
    font-size: 0.5rem;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-img {
  animation: rotation 3s linear infinite;
}